---
title: Documentation du lecteur Brightcove
parent: null
---

<article class="bcls-article">
  <h1>Documentation du lecteur Brightcove</h1>
  <p>
    Le développement Brightcove Player vous permet de personnaliser, d'intégrer ou d'ajouter des fonctionnalités à vos joueurs. Les outils de développement sont l'API Player, et les technologies web standard de HTML5, CSS et JavaScript.
  </p>
  <p>
    Consultez la liste complète des <a href="/code-samples/index.html">exemples de code</a> pour les possibilités de personnalisation du joueur.
  </p>
  <p>Version Brightcove Player :</p>
  <p>
    Courant: <a href="/release-notes/brightcove-player-release-notes.html">v6.57.1</a> </p>
  <p>
    Pré-sortie : <a href="/release-notes/brightcove-player-prerelease-notes.html">Aucune</a> </p>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %} <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">
      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul class="bcls-topic-list">
          {% for doc in section.docs limit:4 %} <li><a href="{{ doc.url }}">{{ doc.name }}</a></li> {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">Voir tout...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>