---
title: Accueil CHA
parent: amp section: AMP
description: "Accelerated Mobile Pages (AMP) can be used with Brightcove Player. This page links to the two possibilities of using Brightcove Player, with a Video Cloud video or an external video."
---

<article class="landing-page-wrapper">
    <h1>{{ page.title }}</h1>
    <section class="landing-page-header" id="landing_page_header">
        <p>{{ page.description }}</p>
        <p>AMP est un framework HTML open source qui fournit un moyen simple de créer des pages Web rapides, faciles à charger et prioriser l'expérience utilisateur. Pour plus de détails, consultez le <a href="https://amp.dev/">Site AMP</a>.</p>
    </section>
    <section class="card-wrapper">
        {% for item in site.data.navigation %} {% if item.name == page.section %}
        <section class="bcls-card">
            <div class="card-content">
                <h2 class="landing-page-item-header">{{ item.name }} Les sujets</h2>
                <ul class=" class="bcls-topic-list"">
                    {% for entry in item.docs %}
                    <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% endif %} {% endfor %}
    </section>
</article>